*{
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
body{
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
}
.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-heading{
  color:rgb(22, 22, 22)
}
.notifier{
  text-align: center;
  border:none;
  background-color: #8BC6EC;
  width:250px;
  height:50px;
  border-radius:20px;
}
.notifier:hover{
  background-color: #5b9bc5;
}
